#header{
    background-color: blue;
    height: 65px;
}
#header .header-title{
    color:white;
    font-size: 24px;
    margin-top: 13px;
    margin-left: 60px;
    display: inline-block;
}
.checkout-btn{
    background-color: white;
    color:blue;
    float: right;
    margin:17px 20px;
}