<div class="col-lg-12" style="margin-left: 40px;">
    <h2>Employee Details</h2>
    <a 
    [routerLink]="['../covid-details']"
    >Covid Updates</a>
    <div class="row bmargin20 tmargin20">
        <div class="col-lg-1">
            <b>Id</b>
        </div>
        <div class="col-lg-3">
           <b>Name</b> 
        </div>
        <div class="col-lg-1">
            <b>Salary</b>
        </div>
        <div class="col-lg-1">
            <b>Age</b>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <div *ngFor="let employee of employeeList">
        <div class="row bmargin10">
            <div class="col-lg-1 border">
                {{employee.id}}
            </div>
            <div class="col-lg-3 border">
                {{employee.employee_name}}
            </div>
            <div class="col-lg-1 border">
                {{employee.employee_salary}}
            </div>
            <div class="col-lg-1 border">
                {{employee.employee_age}}
            </div>
            <div class="col-lg-6">
    
            </div>
        </div>
     
    </div>
</div>